.header {
  color: white;

  .titleWrapper {
    margin-bottom: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-size: 2.2rem;
      text-align: center;
    }
  }

  h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    margin: 0;
  }
}
