.widget {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  width: 300px;
  height: 250px;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .title {
    color: black;
    font-weight: 300;
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
  }

  .controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .playWrapper {
      flex: 1 0 auto;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      cursor: pointer;
      border: 0;
      background: white;

      .playPause {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: #607d8b;
      }
    }

    .volumeSliderWrapper {
      width: 100%;
      display: flex;
      align-items: center;

      &.disabled {
        opacity: 0.8;
        pointer-events: none;
      }

      input {
        margin-left: 0.5rem;
        width: 100%;
        height: 5px;
      }

      .volumeIcon {
        cursor: pointer;
        color: #607d8b;
        border: 0;
        background: white;
      }
    }
  }
}

@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.6);
  }
}
@keyframes loud {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}

.waveContainer {
  display: flex;
  justify-content: space-between;
  height: 64px;
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);

  .wave {
    transform: scaleY(0.4);
    height: 100%;
    width: var(--boxSize);
    background: #12e2dc;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    border-radius: 8px;
  }

  .wave1 {
    animation-name: quiet;
  }

  .wave2 {
    animation-name: normal;
  }

  .wave3 {
    animation-name: quiet;
  }

  .wave4 {
    animation-name: loud;
  }

  .wave5 {
    animation-name: quiet;
  }
}
