.grid {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 5rem;
  column-gap: 5rem;
  display: grid;
  padding: 2rem 0;
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 220px));
  }
}
