.wrapper {
  padding: 2rem 0;
}

.grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 5rem;
  column-gap: 5rem;
  display: grid;
  margin: 0 auto;
  max-width: 1060px;
}
